<div class="form-container">
    <form class="form" *ngIf="signupMode" (ngSubmit)="signupSubmit(signupForm)" #signupForm="ngForm">
        <label for="email">Enter your Email</label>
        <input id="email" type="email" ngModel name="email" required email>

        <label for="userName">Enter your Username</label>
        <input id="userName" type="text" ngModel name="username" required>

        <label for="password">Enter your password</label>
        <input id="password" type="password" ngModel name="password" minlength="6" required>

        <label for="rePassword">Repeat your password</label>
        <input id="rePassword" type="password" ngModel name="rePassword" required>

        <!-- <span *ngIf="signupForm.invalid && signupForm.touched">Please enter valid values</span> -->
        <span *ngIf="hackyWayOfValidation">Passwords don't match</span>

        <button [disabled]="signupForm.invalid" type="submit">Submit</button>
    </form>

    <form class="form" *ngIf="!signupMode" (ngSubmit)="loginSubmit(loginForm)" #loginForm="ngForm">

        <label for="email">Enter your Email</label>
        <input id="email" type="email" ngModel name="email" required email>

        <label for="password">Enter your password</label>
        <input id="password" type="password" ngModel name="password" minlength="6" required>

        <button [disabled]="loginForm.invalid" type="submit">Submit</button>

    </form>


    <span *ngIf="signupMode" (click)="signupMode = !signupMode">Allready have an account?</span>
    <span *ngIf="!signupMode" (click)="signupMode = !signupMode">Don't have an account?</span>
</div>